@model StudyControlWeb.ViewModels.TeacherViewModel
@{

}
<div class="container">
    <h3 class="text-center p-3">Редактирование преподавателя</h3>
    <form asp-action="EditTeacher" asp-controller="Teacher" asp-route-id="@Model.Id">
        <div class="form-group p-3">
            <label asp-for="Surname">Фамилия</label><br />
            <input class="form-control" type="text" asp-for="Surname" />
        </div>
        <div class="form-group p-3">
            <label asp-for="Name">Имя</label><br />
            <input class="form-control" type="text" asp-for="Name" />
        </div>
        <div class="form-group p-3">
            <label asp-for="Fathername">Отчество</label><br />
            <input class="form-control" type="text" asp-for="Fathername" />
        </div>
        <div class="form-group p-3">
            <label>Кафедра</label>
            <select class="form-select" asp-for="DepartmentTitle" asp-items="@ViewBag.Titles">

            </select>
        </div>
        <div class="form-group p-3">
            <label asp-for="Password">Пароль</label><br />
            <input class="form-control" type="text" asp-for="Password" />
        </div>
        <div class="form-group p-3">
            <input class="btn btn-success" type="submit" value="Сохранить" />
        </div>
    </form>
</div>