<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudyControlWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-toggleable navbar-light bg-white">
            <div class="container justify-content-center">
                <a class="navbar-brand" href="~/Home/Index">
                    <div class="container">
                        <img src="~/img/logo.png"/>
                        Сопровождение учебного процесса
                    </div>
                </a>
            </div>
            <div class="container justify-content-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="navbar-nav form-inline text">
                        <p class="lead m-1">@User.Identity.Name</p>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/Account/Logout">Выйти</a>
                        </li>
                    </ul>
                }
                else
                {
                    <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/Account/Login">Войти</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; by Amir Zagirov 2022
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>