<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Сопровождение учебного процесса</title>
    <link href="~/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudyControlWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-toggleable navbar-light shadow rounded mb-5">
            <div class="container justify-content-center">
                <a class="navbar-brand" href="~/Home/Index">
                    <div class="container">
                        <img src="~/img/logo.png"/>
                        Сопровождение учебного процесса
                    </div>
                </a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-2 navbar shadow-sm navbar-expand navbar-toggleable rounded align-self-start">
                @if (this.User.IsInRole("Admin"))
                {
                    <partial name="_MenuAdmin"/>
                }
                else if (this.User.IsInRole("Faculty"))
                {
                    <partial name="_MenuFaculty"/>
                }
                else if (this.User.IsInRole("Department"))
                {
                    <partial name="_MenuDepartment"/>
                }
                else if (this.User.IsInRole("Teacher"))
                {
                    <partial name="_MenuTeacher"/>
                }
                else if (this.User.IsInRole("Student"))
                {
                    <partial name="_MenuStudent"/>
                }
            </nav>
            <div class="col-lg-10 shadow-sm rounded">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; by Amir Zagirov @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>