@{
}
<div class="container justify-content-center flex-column">
    <div class="lead m-2">
        <h5>Администратор</h5>
    </div>
    <ul class="nav">
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Schedule/Schedules">Расписание</a>
        </li>
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Faculty/Faculties">Факультеты</a>
        </li>
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Department/Departments">Кафедры</a>
        </li>
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Group/Groups">Группы</a>
        </li>
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Teacher/Teachers">Преподаватели</a>
        </li>
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Student/Students">Студенты</a>
        </li>
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Area/Areas">Направления</a>
        </li>
        <li class="nav-item m-3 w-100">
            <a class="nav-link text-dark" href="~/Account/Logout">Выход</a>
        </li>
    </ul>
</div>