@model IEnumerable<StudyControlWeb.Models.DBO.Area>
@{
    
}
<div class="container">
    <h3 class="p-3 text-center">Список направлений подготовки</h3>
    
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Код направления</th>
            <th>Название</th>
            <th>Входит в программу</th>
        </tr>
        </thead>
        <tbody>
            @foreach(var a in Model)
            {
                <tr>
                    <td>@a.Code</td>
                    <td>
                        @a.Title
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => a.IsActive)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
