@model StudyControlWeb.ViewModels.AreaViewModel
@{

}
<div class="container">
    <h3 class="text-center p-3">Редактирование направления подготовки</h3>
    <form asp-action="EditArea" asp-controller="Area" asp-route-id="@Model.Id">
        <div class="form-group p-3">
            <label asp-for="Code">Код подготовки</label><br />
            <input class="form-control" type="text" asp-for="Code" />
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group p-3">
                    <label>Уровень образования</label>
                    <select class="form-select" asp-for="DegreeName" asp-items="@ViewBag.Degrees">

                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group p-3">
                    <label>Форма обучения</label>
                    <select class="form-select" asp-for="Form" asp-items="@ViewBag.Forms">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group p-3">
                    <label asp-for="Title">Направление</label><br />
                    <input class="form-control" type="text" asp-for="Title" />
                </div>
            </div>
            <div class="col">
                <div class="form-group p-3">
                    <label asp-for="Profile">Профиль</label><br />
                    <input class="form-control" type="text" asp-for="Profile" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group p-3">
                    <label>Выпускающая кафедра</label>
                    <select class="form-select" asp-for="DepartmentTitle" asp-items="@ViewBag.Titles">

                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group p-3">
                    <label asp-for="TermsCount">Срок обучения в семестрах</label><br />
                    <input class="form-control" type="number" asp-for="TermsCount" />
                </div>
            </div>
        </div>
        <div class="form-group p-3">
            <input class="btn btn-success" type="submit" value="Сохранить" />
        </div>
    </form>
</div>
