@model StudyControlWeb.ViewModels.GroupViewModel
@{

}
<div class="container">
    <h3 class="text-center p-3">Добавление группы</h3>
    <form asp-action="EditGroup" asp-controller="Group" asp-route-id="@Model.Id">
        <div class="form-group p-3">
            <label asp-for="Code">Код</label><br />
            <input class="form-control" type="text" asp-for="Code" />
        </div>
        <div class="form-group p-3">
            <label asp-for="StartYear">Год поступления</label><br />
            <input class="form-control" type="number" asp-for="StartYear" />
        </div>
        <div class="form-group p-3">
            <label>Кафедра</label>
            <select asp-for="DepartmentTitle" asp-items="@ViewBag.Titles">

            </select>
        </div>
        <div class="form-group p-3">
            <label>Направление подготовки</label>
            <select asp-for="AreaTitle" asp-items="@ViewBag.Areas">

            </select>
        </div>
        <div class="form-group p-3">
            <label asp-for="Profile">Профиль подготовки</label><br />
            <input class="form-control" type="text" asp-for="Profile" />
        </div>
        <div class="form-group p-3">
            <input class="btn btn-success" type="submit" value="Сохранить" />
        </div>
    </form>
</div>