@{
}
<nav class="col-lg-2 navbar shadow-sm navbar-expand navbar-toggleable rounded">
    <div class="container justify-content-center flex-column">
        <div class="lead m-2">
            <h5>Студент</h5>
        </div>
        <ul class="nav">
            <li class="nav-item m-3 w-100">
                <a class="nav-link text-dark" href="~/Student/Timetable">Расписание</a>
            </li>
            <li class="nav-item m-3 w-100">
                <a class="nav-link text-dark" href="~/Student/Points">Успеваемость</a>
            </li>
            <li class="nav-item m-3 w-100">
                <a class="nav-link text-dark" href="~/Account/Logout">Выход</a>
            </li>
        </ul>
    </div>
</nav>